
head
    title #{name}
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap&subset=cyrillic" rel="stylesheet")
    style
        include style.css