
html {
    box-sizing: border-box;
    font-family: 'PT Sans', serif;
    font-size: 16px;
    line-height: 1.5;
}

a, a:visited, a:hover, a:active {
    color: black;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.clear {
    clear: both;
}

.kw {
    color: darkgray;
    font-style: italic;
}

#wrap {
    max-width: 700px;
    margin: 3.5em auto;
}

hr {
    margin: 1em 0;
}

header {
    text-align: center;
}

header h1 {
    font-size: 1.5em;
    margin: 0;
}

header .line .link {
    display: inline;
}

header .line .link:before {
    content: " \00a0 • \00a0 ";
}

header .line .link:first-child:before {
    content: "";
}

content {
    margin-bottom: 2.5em;
}

content h2 {
    font-size: 1em;
    margin: 2em 0 1em;
    page-break-after: avoid;
}

content h2:first-child {
    margin-top: 1.5em;
}

ul {
    padding: 0;
    padding-right: 2em;
    margin: 0;
}

ul li {
    display: block;
    margin-top: 1em;
    position: relative;
}

ul li:before {
    content: "•";
    position: absolute;
    left: -15px;
    transform: scale(0.7);
}

ul li .item-name {
    width: 70%;
    float:left;
}

ul li .item-time {
    float: left;
    width: 30%;
}

.col2 {
    width: 50%;
    float:left;
}

.tech-exp li {
    margin: 0;
}

.job {
    margin-bottom: 2em;
    page-break-inside: avoid;
    page-break-before: avoid;
}
.job .job__time {
    font-style: italic;
}

.job .job__time:before {
    content: "–";
    margin-left: -15px;
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {

    #wrap {
        width: 100%;
        padding: 10px;
        margin: 1.5em 0;
    }

    header {
        text-align: left;
    }

    header .line {
        margin-top: 0em;
    }

    header .links {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid gray;
    }

    header .line .link {
        display: block;
    }

    header .line .link:before {
        content: "";
    }

    content h2 {
        font-size: 1.2em;
        margin: 1em 0 0 !important;
    }

    .col2 {
        float: none;
        width: 100%;
    }
    
}

div.page-header {
    display: block; 
    text-align: center; 
    position: running(header);
}
#page-footer {
    display: block; 
    text-align: center;
    position: running(pageFooter);
}

@page { 
    @bottom-center { content: element(pageFooter); }
}

@media print {


    body {
        border: 1px solid red;
    }

    
  

}